@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: turquoise;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 850px;
    display: flex;
    box-shadow: 0 1px 25px 0 rgba(69,90,100,0.08)
}

.wrapper .left {
    width: 35%;
    background: linear-gradient(to right, orange, orange);
    padding: 30px 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .right {
    width: 65%;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right .project {
    margin-bottom: 35px;
}

.wrapper .right .info h3,
.wrapper .right .project h3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid grey;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}